.messageWrapper {
  display: flex;
  align-items: center;
  width: 30rem;
  margin: 20px auto;
}

.messageLabel {
  height: 100%;
}

.messageInputWrapper {
  display: flex;
  flex: 1;
  align-items: center;
}

.messageInput {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  margin: 0 5px;
}
